<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile
        routerLink="/portfolio"
        style="background-color: powderblue;"
        class="cursorPointer"
        >
        <span matTooltip="portfolio" matTooltipPosition="below">portfolio</span>
    </mat-grid-tile>
    <mat-grid-tile
        routerLink="/Publish"
        style="background-color: NavajoWhite;"
        class="cursorPointer"
        >
        <span matTooltip="Publish your stories" matTooltipPosition="below">Publish your stories</span>
    </mat-grid-tile>
    <mat-grid-tile
        routerLink="/notes"
        style="background-color: Gainsboro;"
        class="cursorPointer"
        >
        <span matTooltip="notes" matTooltipPosition="below">notes</span>
    </mat-grid-tile>
    <mat-grid-tile
        routerLink="/technicalLearning"
        style="background-color: Lavender;"
        class="cursorPointer"
        >
        <span matTooltip="Technical Learning Space" matTooltipPosition="below">Technical Learning Space</span>
    </mat-grid-tile>
    <mat-grid-tile
        routerLink="/trending"
        style="background-color: LightSteelBlue ;"
        class="cursorPointer"
        >
        <span matTooltip="Top Trending" matTooltipPosition="below">Top Trending</span>
    </mat-grid-tile>
    <mat-grid-tile
        routerLink="/articles"
        style="background-color: DarkSalmon;"
        class="cursorPointer"
        >
        <span matTooltip="View articles" matTooltipPosition="below">View articles</span>
    </mat-grid-tile>
</mat-grid-list>