<h1>landing page</h1>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile routerLink="/portfolio" style="background-color: powderblue;">portfolio</mat-grid-tile>
    <mat-grid-tile routerLink="/Publish" style="background-color: NavajoWhite;">Publish your stories</mat-grid-tile>
    <mat-grid-tile routerLink="/notes" style="background-color: Gainsboro;">notes</mat-grid-tile>
    <mat-grid-tile routerLink="/technicalLearning" style="background-color: Lavender;">Technical Learning Space</mat-grid-tile>
    <mat-grid-tile routerLink="/trending" style="background-color: LightSteelBlue ;">Top Trending</mat-grid-tile>
    <mat-grid-tile routerLink="/articles" style="background-color: DarkSalmon;">View articles</mat-grid-tile>
</mat-grid-list>